/* Header Navbar CSS */
.nav-link-hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #3498db, #2c3e50);
  transition: width 0.3s ease;
}

.nav-link-hover:hover::after {
  width: 100%;
}

/* Hero Section CSS */

@keyframes animate-gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-gradient {
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s infinite;
}
