# env
.env
server/.env
server/.env.development
client/.env
client/.env.development
client/.env.production
.env-backup/

# node
node_modules/

# build
dist/
build/

# test artifacts
test-results/
playwright-report/
blob-report/